@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --main-color: #647bff;
  --body-color: #09172a;
  --text-color: #e7e8ea;
  --accent-color: #d6336c;
  --success-color: #3ecc71;
  --error-color: #e74c3c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.accent {
  color: var(--accent-color);
}
.container {
  max-width: 96rem;
  margin: auto;
  width: 100%;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
.logo {
  font-size: 2.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-link {
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  color: var(--text-color);
  letter-spacing: 0.15rem;
  font-size: 1.8rem;
}
.nav-link:hover {
  color: var(--accent-color);
  transition: 0.3s;
}
.res-link {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
}
.res-link:hover {
  border-color: var(--accent-color);
}
/* Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background: var(--text-color);
  height: 2px;
  width: 24px;
  transition: 0.3s;
}
.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.up-arrow {
  cursor: pointer;
  position: absolute;
  font-size: 3.2rem;
  color: var(--accent-color);
  bottom: 5rem;
  right: 5rem;
}
