@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --main-color: #647bff;
  --body-color: #09172a;
  --text-color: #e7e8ea;
  --accent-color: #d6336c;
  --success-color: #3ecc71;
  --error-color: #e74c3c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.accent {
  color: var(--accent-color);
}
