@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: #333;
  --mainLinkColor-light: #0da2b8;
  --mainBorderColor-light: #dadada;
  --mainBgColor-light: #f9fafb;

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: #1ebed6;
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--mainTextColor);
  background-color: var(--mainBgColor);
}

.profile-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

p,
span,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  display: flex;
  align-items: center;
  line-height: 3rem;
}

li ion-icon {
  font-size: 2.4rem;
  margin-right: 0.5rem;
  color: green;
}

.container--main {
  max-width: 70rem;
  margin: 0 auto;
}

.section--page {
  padding: 2rem 0;
}

.wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.bio,
a {
  font-weight: 300;
}

.user-name {
  font-size: 4.8rem;
  line-height: 1rem;
}

.socials--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials--list a {
  font-size: 1.4rem;
  color: var(--secondaryTextColor);
  transition: 0.3s;
}

.socials--list a:hover {
  color: var(--mainLinkColor);
}

.qualifications--list {
  list-style: none;
}
